Debug/
Release/
*.elf
*.hex
*.lss
*.map
*.srec
*.o
.vs\
*.d
*.map
*.hex
*.elf
*.eep
*.elf
*.hex
*.lss
.vs/Freqref/v14/.atsuo
Simulation/.vs/Simulation/v14/.suo
Simulation/.vs/Simulation/v15/sqlite3/storage.ide
Simulation/.vs/Simulation/v15/.suo
